@tailwind base;
@tailwind components;
@tailwind utilities;

body{
    min-height: 100vh;
    background: rgb(179, 144, 144);
    background: linear-gradient(40deg, rgb(179, 144, 144) 15%, rgb(6, 35, 36) 100%);
}